*, *:before, *:after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body
{
	height: 100%;
	width: 100%;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 300;
	color: #222;
}

#designer_contents, #designer_contents_wrapper
{
	/* there can and must only be one */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.designer-o__panel
{
	background: #262626;
	color: white;
	z-index: 2; /* TODO: establish a z-index scheme */
}

#designer_tools
{
	position: fixed;
	bottom: 0;

}

.designer-c__shape
{
	position: absolute;
	background: #bbb;
	border: 1px solid #222;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

.designer-c__shape--line
{
	position: absolute;
	background: #bbb;
	border: none;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

[contenteditable=true]
{
	cursor: text;
	-webkit-user-select: text;
	user-select: text;
}

.designer-c__shape--text
{
	overflow: hidden;
}

.designer-c__text--dragging
{
	outline: 1px #aaa dotted;
}
